h1 {
	color:red;
}
#one {
	background-color: green;
	text-align: center;
}
.two {
	display: none;
}
nav a {
	margin-right: 15px;
	text-decoration: none;	
}

#two {
	background-color: #420f6e;
}
